.ProfilePage {
    width: 100%;
    padding: 20px;
    background: #101015;
    min-height: 100vh;

    .container {
        max-width: 1600px;
        margin: 0 auto;
        color: #fff;
       
        .hero {
            display: grid;
            grid-template-columns: 15% 70% 15%;
            align-items: center;
            // margin-top: 50px;
            min-height: calc(100vh - 100px);

            .profile_section {
                background: #1C1C24;
                max-height: 80vh;
                height: 100%;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 40px;
                .profile_img {
                    .profile_image_circle {
                        width: 130px;
                        height: 130px;
                        border-radius: 130px;
                        img {
                            border-radius: 130px;
                        }
                    }
                    p {
                        margin-top: 20px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .profile_projects_detail {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    width: 100%;
                    .left{
                        border-top: 1px solid #fff;
                        border-right: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        padding: 30px;

                        h3 {
                            font-size: 20px;
                            letter-spacing: 0.7px;
                            font-weight: 500;
                        }

                        p {
                            margin-top: 20px;
                            font-size: 20px;
                            font-weight: 500;
                        }

                        .view_btn {
                            margin-top: 20px;

                            button {
                                background: #2ECC40;
                                border: none;
                                color: #fff;
                                width: 182px;
                                height: 54px;
                                border-radius: 30px;
                                font-size: 18px;
                                font-weight: 600;
                                letter-spacing: 0.63px;
                                &:hover {
                                    background:  #10881e; 
                                    cursor: pointer;
                                }

                            }
                            
                           
                        }
                    }

                    .right{
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        padding: 30px;

                        h3 {
                            font-size: 20px;
                            letter-spacing: 0.7px;
                            font-weight: 500;
                        }

                        p {
                            margin-top: 20px;
                            font-size: 20px;
                            font-weight: 500;
                        }

                        .view_btn {
                            margin-top: 20px;

                            button {
                                background: #2ECC40;
                                border: none;
                                color: #fff;
                                width: 182px;
                                height: 54px;
                                border-radius: 30px;
                                font-size: 18px;
                                font-weight: 600;
                                letter-spacing: 0.63px;
                                &:hover {
                                    background:  #10881e; 
                                    cursor: pointer;
                                }

                            }
                            
                           
                        }
                    }
                }

                .profile_switch_account {
                    .account_details {
                        display: flex;
                        gap: 10px;
                        p {
                            font-size: 20px;
                            font-weight: 500;
                            letter-spacing: 0.7px;
                        }
                        spam {
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                    .switch_btn {
                        margin-top: 30px;
                        button {
                            background: #7A1FC2;
                            border: none;
                            color: #fff;
                            width: 223px;
                            height: 58px;
                            border-radius: 10px;
                            font-size: 18px;
                            font-weight: 700;
                            letter-spacing: 0.63px;
                            cursor: pointer;
                            &:hover {
                                background: #550e90;
                            }
                        }
                    }
                }
            }    
        }    
    }
}        